/*
========================================
    BOJE KOJE CE SE KORISTITI ZA SAJT
========================================
    #66666E
    #9999A1
    #E6E6E9
    #1F0318
    #FFFFFF
========================================
*/



html, 
body {
    font-family: "Roboto", sans-serif;
    margin: 5px;
    padding: 0;
    height: 95vh;
    background-color: #E6E6E9;
    box-sizing: border-box;
}

.logo {
    margin-right: 7px;
    height: 70px;
    width: 70px;
    display: inline-flex;
    justify-content: flex-end;
}

.pozadina {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image:  url(img/pozadina.jpg);
    height: 95vh; 
}

.navigacija {
    background-color: rgba(0, 0, 0, .3);
    border-bottom: solid 1px rgba(255, 255, 255, .2);
}

.naslov {
    display: inline-block;
    position: relative;
    top: 15px;
    left: 50px;
    padding-bottom: 45px;
}

.naslov:hover {
    transform: scale(1.1);
    transition: all 1s;
    transform-origin: center;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.linkovi {
    position: absolute;
    right: 6%;
    top: 7%;
    font-size: 17px;
    letter-spacing: 2px;
}


.kontent a {
    color: #E6E6E9;
    text-decoration: none;
    text-transform: uppercase;
}
.kontent a:hover {
    transition: all 1s;
    color: #A27E6F;
    box-shadow: 0 1px 0px rgba(255, 255, 255, .2);
}

.kontent a:not(:last-child) {
    margin-right: 70px;
}

.zvucnici {
    top: 25%;
    left: 10%;
    position: absolute;
    text-align: center;
    max-width: 1000px;
    float: left;
}

.zvucnici img {
    height: 600px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(255, 255, 255, .5);
}

.dugme {
    height: 30px;
    width: 30px;
    border: none;
    margin-top: 20px;
    background-color: #E6E6E9;
    border-radius: 5px;
}

.dugme:hover {
    background-color: #9999A1;
}

.pozdrav {
    position: absolute;
    top: 20%;
    right: 7%;
    text-align: center;
    animation-name: anime;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.pozdrav h1 {
    font-size: 60px;
    color: #E6E6E9;
    letter-spacing: 2px;
}

.opis {
    position: absolute;
    text-align: center;
    color: #E6E6E9;
    top: 40%;
    right: 11%;
    font-size: 30px;
    font-weight: 100;
}

.opisZ a {
    text-decoration: none;
    color: #e6e6e9;
}

.opisP a {
    text-decoration: none;
    color:#e6e6e9;
}

.dugme1 { 
    position: absolute;
    top: 70%;
    right: 25%;
    height: 80px;
    width: 250px;
    font-size: 30px;
    background-color: transparent;
    color: #E6E6E9;
    border: solid 2px #E6E6E9;
    transition: all .5s;
}

.dugme1:hover {
    background-color: #A27E6F;
    transform: scale(1.05);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
}

.dugme1:active {
    transform: scale(1) translateY(2px);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
}



/*==================================
|   |   |   Druga sekcija
====================================*/

.drugi {
    height: 80vh;
    box-shadow: 0px -10px 20px 2px rgba(69,69,69,1);
    background-image: url(img/pozadina1.jpg);
}

.prvaSekcija img {
    position: absolute;
    top: 98.5%;
    left: 39.6%;
    z-index: 0;
    -webkit-clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    transition: all .3s;
}

.prvaSekcija img:hover {
    transform: scale(1.05);
    cursor: pointer;
    overflow: hidden;
}
.opisZ {
    text-align: center;
    width: 403px;
    padding: 15px;
    position: absolute;
    top: 159.3%;
    left: 40%;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    background-color: rgba(162, 126, 111, .8);
    transform: skewx(-8deg);
}

.drugaSekcija {
    background-color:#66666E;
}

.drugaSekcija img {
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 98.5%;
    -webkit-clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    transition: all .3s;
}

.drugaSekcija img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.opisP {
    text-align: center;
    padding: 15px;
    position: absolute;
    width: 404px;
    top: 159.2%;
    right: 7%;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    background-color: rgba(162, 126, 111, .8);
    transform: skewx(-8deg);
}

.drugi h1 {
    margin: 0;
    padding-top: 100px;
    margin-left: 150px;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}

.donjaLinija {
    margin-top: 10px;
    position: relative;
    left: 16%;
    border-bottom: 4px solid #E6E6E9;
    width: 10%;
}

.bodyOpis {
    display: inline-block;
    width: 40%;
    color: #e6e6e9;
    padding: 20px;
    font-style: italic;
}

.zvezdice {
    color: #e6e6e9;
    text-align:center;
    width: 40%;
    margin-top: -30px;
}

.apostrof {
    margin: 0px 5px;
}


.prviDeo {
    width: 48%;
    height: 100%;
    vertical-align: middle;
    border-right: solid 1px rgba(255, 255, 255, .2)
}

.dole {
    height: 50vh;
    background-image: url(img/pozadina.jpg);
    background-position: bottom;
    border-top: solid 1px rgba(255, 255, 255, .2);
    background-attachment: fixed;
}

.donjiLogo {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    margin-left: 250px;
}

.naslov1 {
    margin-left: 60px;
    color: #e6e6e9;
}

.brojevi {
    font-weight: 500;
    margin-left: 60px;
    color: #e6e6e9
}

.ikonice {
    color: #e6e6e9;
    font-size: 30px;
    margin-left: 60px;
}

.ikonice i:not(:last-child) {
    margin-right: 15px;
    margin-left: 10px;
}

.drugiDeo {
    width: 50%;
    position: absolute;
    right: -7%;
    bottom: -110%;
    vertical-align: middle;
    
}

.drugiDeo input {
    width: 60%;
    margin-bottom: 20px;
    height: 50px;
    background-color: #eee;
    border: none;
    padding-left: 20px;
}

.dugme2 {
    padding: 10px 50px;
    font-size: 20px;
    background-color: transparent;
    border: solid 2px #e6e6e9;
    color: white;
    transition: all .5s;
}

.dugme2:hover {
    background-color: #A27E6F;
    transform:scale(1.1);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
}

.dugme2:active {
    transform: scale(.95);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
}

.copy {
    color: white;
    position: absolute;
    left: -16%;
    bottom: -105%;
}


/*==================================

Nova Stranica - O Nama

====================================*/

.novOpis {
    text-align: center;
    color: #e6e6e9;
    position: absolute;
    top: 25%;
    left: 0%;
    padding: 20px 150px;
    font-size: 35px;
}

.novOpis h1 {
    font-size: 45px;
    font-weight: 700;
}

.novOpis p {
    font-weight: 100;
    letter-spacing: 2px;
}


/*==================================

Nova Stranica - Registracija

====================================*/

.register {
    position: absolute;
    top: 25%;
    left: 32%;
    color: white;
    width: 50%;
}

.register input {
    display: block;
    width: 70%;
    height: 35px;
    background-color: transparent;
    border: solid 2px #e6e6e9;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.dugme3 {
    padding: 15px 85px;
    background-color: transparent;
    border: solid 2px #E6E6E9;
    color: #e6e6e9;
    transition: all .3s;
    position: absolute;
    left: 21%;
    font-size: 20px;
}

.dugme3:hover {
    background-color: #A27E6F;
    transform: scale(1.05);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
}

.dugme3:active {
    transform: scale(1) translateY(2px);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
}


/*==================================

Kupovina zvucnika

====================================*/

.zvucnici1 {
    text-align: center;
    position: absolute;
    top: 15%;
    width: 100%;
    
}

.zvucnici1 h1 {
    font-size: 45px;
    color: #e6e6e9;
    
}

.zvucnici1 img {
    height: 500px;
    width: 250px;
}

.dugme4 {
    padding: 15px 50px;
    margin: 30px 0px;
    font-size: 25px;
    background-color: transparent;
    transition: all .3s;
    text-transform: uppercase;
    color: #e6e6e9;
}

.dugme4:hover {
    background-color: #A27E6F;
    transform:scale(1.1);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
}

.dugme4:active {
    transform: scale(.95);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 1);
}

.zvucnici1 img:not(:last-child) {
    margin-right: 15px;
}

.donjaLinija1 {
    border-bottom: 3px solid #e6e6e9;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: -20px;
}


/*==================================

ANIMACIJA ZA POZDRAV

====================================*/


@keyframes anime {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: .25;
    }
    
    50% {
        opacity: .5;
    }
    
    75% {
        opacity: .75;
    }
    
    100% {
        opacity: 1;
    }
}